.DS_Store
terraform-provider-securitls
bin
vendor
securitls/tflog
README.md.local

**/.terraform/*
**/examples/.terraform/*
**/examples/.terraform.lock.hcl
dist/

*.tfstate
*.tfstate.*
crash.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc
terraform
